---
import { categorias } from "../../categorias";
import BarraCarrito from "../../components/barraCarrito/BarraCarrito";
import ProductoCard from "../../components/categoriasHome/ProductoCard.astro";
import TituloModulo from "../../components/DS/TituloModulo.astro";
import Modulos from "../../components/Modulos.astro";
import PrincipalLayaout from "../../layouts/PrincipalLayaout.astro";
import type { Categoria, Producto } from "../../types/General.type";
import { slugify } from "../../utils/slugify";

interface Props {
  categoria: string;
}


const { categoria } = Astro.params;

const response = await fetch(
  `${import.meta.env.PUBLIC_VITE_BACKEND_URL}/api/productos`,
);

const productos = (await response.json()) as Producto[];

const productosCategoria = productos.filter(
  (item) => slugify(item.categoria.nombre) === categoria
);
const alias = slugify(categoria?? "");
const nombreCategoria = productosCategoria[0]?.categoria.nombre;
---

<PrincipalLayaout
  title={productosCategoria[0]?.categoria.nombre}
  description={`Productos ${nombreCategoria}`}
  img_url={`/images/categorias/${alias}.jpg`}
  url={`https://www.tiendalaemiliana.com/categoria/${alias}`}
>
  <TituloModulo titulo={nombreCategoria} alias={alias} />

  <section class="flex gap-5 flex-wrap m-3">
    {
      productosCategoria.map((producto) => (
        <ProductoCard producto={producto} css="w-full" />
      ))
    }
  </section>
  <Modulos  productos={productos}/>

  <BarraCarrito client:visible />
</PrincipalLayaout>
