---
import { categorias } from "../../categorias";
import BarraCarrito from "../../components/barraCarrito/BarraCarrito";
import TituloModulo from "../../components/DS/TituloModulo.astro";
import Modulos from "../../components/Modulos.astro";
import PrincipalLayaout from "../../layouts/PrincipalLayaout.astro";
import { productos } from "../../productos";
import { slugify } from "../../utils/slugify";

export function getStaticPaths() {
  return categorias.map((c) => ({
    params: { categoria: c.alias },
  }));
}

interface Props {
  categoria: string;
}

const { categoria } = Astro.params;

const productosCategoria = productos.filter(
  (item) => slugify(item.categoria) === categoria
);
const alias = slugify(categoria);
const nombreCategoria = productosCategoria[0]?.categoria
---

<PrincipalLayaout
  title={productosCategoria[0]?.categoria}
  description={`Productos ${nombreCategoria}`}
  img_url={`/images/categorias/${alias}.jpg`}
  url={`https://www.tiendalaemiliana.com/categoria/${alias}`}
>
<TituloModulo titulo={nombreCategoria} alias={alias} />

  <section class="flex gap-5 flex-wrap m-3">
    {
  
    }
  </section>
  <Modulos />

  <BarraCarrito client:visible />
</PrincipalLayaout>
