---
import BarraCarrito from "../components/barraCarrito/BarraCarrito";
import Header from "../components/header/Header.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      property="og:title"
      content={`${title === "Inicio" ? "La Emiliana | Alimentos y Bebidas" : `${title} | La Emiliana`} `}
    />
    <meta name="description" content={description} />
    <meta property="og:url" content="https://www.tiendalaemiliana.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://www.tiendalaemiliana.com/favicons/web-app-manifest-512x512.png"
    />
    <meta property="og:description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="La Emiliana" />
    <meta
      name="keywords"
      content="alimentos, bebidas, tienda online, La Emiliana,pollo,huevo,aceite"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="La Emiliana" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <meta
      name="title"
      content={`${title === "Inicio" ? "La Emiliana" : `${title} | La Emiliana`} `}
    />

    <title>
      {
        `${title === "Inicio" ? "La Emiliana | Alimentos y Bebidas" : `${title} | La Emiliana`} `
      }
    </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/images/laemiliana_logo.png" />
    <ClientRouter />
  </head>
  <body>
    <section class="h-screen">
      <Header />
      <slot />
      <BarraCarrito client:visible />
    </section>
  </body>
</html>
