---
import AddToCart from "../../components/categoriasHome/AddToCart";
import CategoriaHome from "../../components/categoriasHome/CategoriaHome.astro";
import SelectorCategoriasModulo from "../../components/selectorCategorias/SelectorCategoriasModulo.astro";
import PrincipalLayaout from "../../layouts/PrincipalLayaout.astro";
import { productos } from "../../productos";
import type { CartItem, Producto } from "../../types/General.type";
import MasMenosBTN from "../../components/carrito/MasMenosBTN";
import BarraCarrito from "../../components/barraCarrito/BarraCarrito";

export function getStaticPaths() {
  return productos.map((c) => ({
    params: { alias: c.alias },
  }));
}

interface Props {
  alias: string;
}

const { alias } = Astro.params;

const productoEncontrado = productos.find(
  (producto) => producto.alias == alias
);
---

<PrincipalLayaout
  title={productoEncontrado?.nombre ?? ""}
  description={productoEncontrado?.description ?? ""}
  img_url={`/images/productos${productoEncontrado?.image}`}
>
  <section class="bg-neutral-200 p-3 mt-5">
    <img
      transition:name={`producto-${productoEncontrado?.id}`}
      class="w-full h-full rounded-xl object-cover mb-5"
      src={`/images/productos/${productoEncontrado?.image}`}
      alt={productoEncontrado?.nombre}
    />
    <div class="flex justify-between items-center">
      <h2 class="font-bold text-3xl">{productoEncontrado?.nombre}</h2>
      <h2 class="font-semibold text-3xl">
        {productoEncontrado?.precio}
        <span class="text-xs font-semibold text-neutral-600 mt-3">USD</span>
      </h2>
    </div>
    <h2 class="font-semibold text-neutral-400 text-sm">Descripción</h2>
    <p>{productoEncontrado?.description}</p>
  </section>
  <div class="flex justify-center items-center gap-5 mt-5">
    <AddToCart client:visible producto={productoEncontrado as Producto} />

    <MasMenosBTN id={productoEncontrado?.id ?? 0} client:visible />
  </div>
  <SelectorCategoriasModulo />
  <CategoriaHome categoria="Carnícos" />
  <CategoriaHome categoria="Lácteos" />
  <CategoriaHome categoria="Varios" />
  <CategoriaHome categoria="Líquidos" />

  <CategoriaHome categoria="Granos" />
  <BarraCarrito client:visible />
</PrincipalLayaout>
