---
import type { Producto } from "../../types/General.type";
import AddToCart from "../categoriasHome/AddToCart";
import Cantidad from "../categoriasHome/Cantidad";

interface Props {
  producto: Producto;
}

const { producto } = Astro.props as Props;
---

<div>
  <div class="bg-neutral-200 p-1 rounded-xl w-72 relative">
    <a href={`/productos/${producto.alias}`}>
       <img
      class="w-full h-40 rounded-xl object-cover"
      src={`/images/productos/${producto.image}`}
      alt={producto.nombre}
    />
    </a>
   
  </div>
  <div class="flex items-center justify-between p-2">
    <h2 class="font-bold text-3xl flex items-center gap-1">
      {producto.precio.toFixed(2)}
      <span class="text-xs font-semibold text-neutral-600 mt-3">USD</span>
    </h2>
    <AddToCart producto={producto} colorBtn="bg-neutral-200 text-neutral-900" client:visible />
  
  </div>
</div>
